# macOS
.DS_Store
*.swp
*~

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
.gradle/
local.properties
*.iml
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Node (if any)
node_modules/
